{% extends 'base.html.twig' %}


    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    {% endblock %}


{% block body %}
    <h3 class="display-6 text-center mb-4">История списаний средств с баланса</h3>
    <div class="row">
        <div class="mb-5 col-4">
            <label for="from" class="form-label">Фильтр по датам:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="from" name="from" placeholder="Начало">
                <span class="input-group-text">-</span>
                <input type="text" class="form-control" id="to" name="to" placeholder="Конец">
            </div>
        </div>
        <div class="mb-5 col-4">
            <label for="filter" class="form-label">Фильтр по услуге:</label>
            <select class="form-select" id="filter" aria-label="Service filter">
                <option selected>Выберите услугу</option>
                <option value="1">Лифт</option>
                <option value="2">Домофон</option>
                <option value="3">Горячая вода</option>
            </select>
        </div>
    </div>
    {% for ta in transactions %}

        <div class="card mb-3">
            <div class="card-header">
                {{ ta.service }}
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ ta.date }} - за {{ ta.period }} списано {{ ta.price }} руб. Баланс: {{ ta.balance }} руб.
                </p>
            </div>
        </div>
    {% endfor %}
    <div class="mt-5 d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button">Расчетный день</button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/transactions.js') }}"></script>
{% endblock %}