{% extends 'base.html.twig' %}


    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    {% endblock %}


{% block body %}
    {% if pagination.totalItemCount > 0 %}
        <h3 class="display-6 text-center mb-4">История транзакций по счету</h3>

        {{ form_start(filterForm) }}
        <div class="row row-cols-3 align-items-end">
            <div class="mb-5 col">
                {{ form_label(filterForm.start) }}
                <div class="input-group mb-0">
                    {{ form_widget(filterForm.start) }}
                    <span class="input-group-text">-</span>
                    {{ form_widget(filterForm.end) }}
                </div>
            </div>
            <div class="mb-5 col">
                {{ form_label(filterForm.serviceId) }}
                {{ form_widget(filterForm.serviceId) }}
            </div>
            <div class="mb-5 col">
                {{ form_widget(filterForm.search) }}
            </div>
        </div>
        {{ form_end(filterForm) }}

        {% for ta in pagination %}

            <div class="card mb-3">
                {% if ta.service %}
                    <div class="card-header"
                         style="background-color: {{ ta.amount > 0 ? 'lightblue': 'darkseagreen' }};">
                        {{ ta.service.name }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ ta.createdAt | format_datetime(pattern="dd MMMM yyyy 'г.'", locale='ru') }} -
                            за {{ ta.getPeriodToString() }}
                            {{ ta.amount > 0 ? 'списано': 'возвращено' }}
                            {{ ta.amount| abs }} руб.
                            Баланс {{ ta.result }} руб.
                        </p>
                    </div>
                {% else %}
                    <div class="card-header" style="background-color: darkseagreen;">
                        Пополнение баланса
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ ta.createdAt | format_datetime(pattern="dd MMMM yyyy 'г.'", locale='ru') }} - баланс
                            пополнен
                            на {{ ta.amount }} руб. Баланс {{ ta.result }} руб.
                        </p>
                    </div>
                {% endif %}
            </div>

        {% endfor %}
        {{ knp_pagination_render(pagination) }}

    {% else %}
        <h4 class="display-6 text-center mb-4">Нет транзакций по счету</h4>
    {% endif %}

    <div class="mt-5 d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" type="button" onclick="window.location.href = '/payment';">Расчетный день
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/transactions.js') }}"></script>
{% endblock %}